


body{
    margin: 20px;
    font: 12px sans-serif;
}

.grid > div {
    background: darkseagreen;
    padding: 1.5rem;
    border-radius: 1rem;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 1rem;
}